<div class = "lotus">
	<%= image_tag('lotus.png', :size => '80x30' ) %>
</div>
<div class="contact_background">
<div class = "contact"> 
	<h5> Liên hệ </h5>
	<p>1300 Church Ave
	<p>San Martin, CA 95046
	<p>Telephone: 408 683 4498
	<p>Email: vouuthienvien@yahoo.com
</div>
</div>
<div class = "footer">
	<p > Copyright © 2015 Vo Uu Buddhist Meditation Association
</div>