
<%= render(:partial => "header") %>
<%= render(:partial => "menubar") %>
<div class = "thungo">
	<%= image_tag('thungo2.png', :size => '800x1131') %>
</div>
<div class = "quote"> 
	<p> "Happiness or sorrow- whatever befalls you, walk on untouched, unattached."
	<p> - Buddha -
</div>


<%= render(:partial => "footer") %>
