<%= render(:partial => "header") %>
<%= render(:partial => "menubar") %>
<br>
<h2 align="center">SINH HOẠT </h2>
<div class = "sinhhoat">
	<br>
	<div class = "lotus">
		<%= image_tag('lotus.png', :size => '80x30' ) %>
	</div>
	<br>
	<h4> LỊCH TU HỌC CỦA NI CHÚNG VÀ PHẬT TỬ NĂM 2015</h4>
	<br>
	<p>1. Ni Chúng tu học và tọa thiền hằng ngày theo đúng Thanh Qui Thiền Viện Trúc Lâm, Việt Nam.<p>
	<p>2. Phật tử sinh hoạt mỗi sáng Chủ Nhật.</p>
	<p>3. Lớp Thiền tiếng Anh sinh hoạt sáng Thứ Tư hằng tuần.</p>
	<p>4. Lớp Việt Ngữ mỗi tuần vào sáng Chủ Nhật.</p>
	<p>5. Khóa Tu <b> THANH THIẾU NIÊN </b>mỗi tháng vào Chủ Nhật tuần <b>thứ nhất</b>.</p>
	<p>6. Khóa tu <b>Bát Quan Trai</b> mỗi tháng vào Thứ Bảy tuần thứ ba.</p>
	<p>7. Những ngày <b>ĐẠI LỄ</b> trong năm:</p>
	<br>
	<ul class = "indenced"> 
		<li><b>PHẬT ĐẢN</b>: Chủ Nhật ngày 24.5.2015</li>
		<li><b>VU LAN</b>: Chủ Nhật ngày 16.8.2015</li>
		<li><b>CHU NIÊN</b>: Chủ Nhật ngày 8.11.2015</li>
	</ul>
	<br>
	<p>8. Những khóa tu 3 ngày trong năm:</p>
	<br>
	<ul class = "indenced">
		<li><b>Đại lễ Phật Đản</b>: Từ ngày 15-16-17 tháng 5.2015</li>
		<li><b>Đại lễ Vu Lan</b>: Trong ngày 7-8-9 tháng 8.2015</li>
		<li><b>Lễ Chu Niên</b>: Từ ngày 6-7-8 tháng 11.2015</li>
	</ul> 
	<br>
	<p>9. Ni Chúng Thiền Viện Vô Ưu an cư kiết hạ từ ngày 24.05.2015 đến ngày 16.08.2015</p>
	<br>
	<p>Lưu Ý: Xin liên lạc Thiền Viện để biết thêm chi tiết.</p>



</div>
<br>
<%= render(:partial => "footer") %>