<%= render(:partial => "header") %>
<%= render(:partial => "menubar") %>
<div class = "thanhqui">
<h2 align = "center"> Thanh Qui </h2>

<h2>LỜI MỞ ĐẦU</h2>
<br>
<p>Với tinh thần Trúc Lâm Đại Đầu-đà, Thiền sinh tại Thiền viện phải đủ ba đức tánh: dứt khoát, kiên quyết và đạm bạc.</p>
<br>
<p>1. Tính dứt khoát là, Đời ra đời Đạo ra đạo, tu phải đến nơi đến chốn; không thể có thái độ lưng chừng, mà phải quyết chí tu đến sáng đạo mới được.</p>

<p>2. Tính kiên quyết là, dù khó khăn chướng ngại do ngoại cảnh hay bản thân tạo ra, đều khẳng định vượt qua. Cương quyết thực hiện kỳ được giải thoát viên mãn mới thôi.</p>
<p>3. Tính đạm bạc là, cuộc sống đạm bạc giản dị, không chấp nhận mọi thụ hưởng xa hoa. Bản chất thanh đạm là đời sống của Thiền sinh ở các Thiền viện. </p>
<br>
<h3>I. LỤC HÒA</h3>
<br>
<p>Lục hòa là chất keo gắn chặt lâu bền các Thiền sinh chung sống tu hành tại Thiền viện. Lục hòa cũng là nền tảng vững chắc của đoàn thể Tăng.<p>
<br>
<p><b>1. Thân hòa đồng trụ:</b> Về phần thân, lao động, tu hành, ăn mặc, ngủ nghỉ, Thiền sinh phải hòa đồng nhau.</p>
<p><b>2. Khẩu hòa vô tránh: </b>Về phần miệng, nói bàn, tranh luận đều trong tinh thần hòa nhã, trọng đạo đức, không được lớn tiếng tranh hơn và dùng lời nặng nhẹ nhau.</p>
<p><b>3. Ý hòa đồng duyệt:</b> Thiền sinh phải tâm ý vui hòa, không có ý ngang ngạnh, chống đối, thù hằn nhau.</p>
<p><b>4. Kiến hòa đồng giải: </b>Thiền sinh có mọi kiến giải sai biệt trong lúc hạ thủ công phu hay trong khi học giáo lý, đều đem ra trao đổi giải bày một cách thông cảm và vui vẻ với nhau.</p>
<p><b>5. Giới hòa đồng tu:</b> Về giới luật, Thiền sinh phải giữ mười giới làm căn bản và sống đúng nội qui của Thiền viện, cố gắng gìn giữ thanh tịnh như nhau.</p>
<p><b>6. Lợi hòa đồng quân:</b> Tất cả tài sản và phẩm vật trong Thiền viện là của chung, của các Thiền sinh hiện có mặt, không ai có quyền giữ riêng hay thụ hưởng nhiều hơn.</p>
<br>
<h3>II. GIỚI LUẬT</h3>
<br>
Giới luật là nền tảng đạo đức, cũng là  gốc của cây thiền định và hoa quả trí tuệ.

A- GIỚI CĂN BẢN:

Thiền sinh tại Thiền viện giữ mười giới làm trọng tâm:

Không sát sanh: Từ con người cho đến loài vật, Thiền sinh không được giết hại, xúi bảo người giết hại, hoặc thấy người giết hại sanh tâm vui mừng.
Không trộm cắp: Tiền bạc, vật dụng, thức ăn uống… của người, nếu người không cho, Thiền sinh không được tự tiện lấy, nếu lấy thành trộm cắp.
Không dâm dục: Thiền sinh không thực hành dâm dục, không tạo phương tiện dâm dục và không khởi tâm nghĩ tưởng về dâm dục.
Không nói dối: Thiền sinh không nói sai sự thật, không nói lời ác độc hung dữ, không nói lời gây chia rẽ thù hằn nhau, không nói lời phù phiếm vô nghĩa.
Không uống rượu: Thiền sinh không uống các thứ rượu mạnh và nhẹ, không hút thuốc và các thứ ghiền khác.
Không đeo tràng hoa và ướp nước hoa: Thiền sinh không dùng mọi thứ trang sức làm cho thân này sang đẹp.
Không ca múa hát xướng: Những trò vui có tánh cách đùa cợt loạn tâm, Thiền sinh đều không được tự làm, nghe, xem người khác làm.
Không nằm ngồi giường tòa to và sang trọng: Thiền sinh chấp nhận một đời sống đạm bạc, nên không nằm ngồi giường ghế to lớn sang trọng.
Không giữ tiền bạc vàng ngọc: Thiền sinh chấp nhận đời sống không có tài sản riêng, chỉ có những vật dụng cần thiết do Thiền viện sắm cho, nên không cần giữ tiền bạc v.v…
Không ăn phi thời: Thiền sinh chấp nhận đời sống tam thường bất túc để tinh tấn tu hành, nên phải giữ giới không ăn phi thời, trừ trường hợp lao động nặng nhọc thì châm chước.
B- GIỚI THƯỢNG THỪA:

Thiền sư Pháp Loa dạy: Trong hai mươi bốn giờ, ngoài dứt các duyên, trong tâm không dấy động. Tâm không dấy động nên cảnh đến vẫn an nhàn. Mắt không vì cảnh khởi phân biệt, thức không vì pháp trần mà dính mắc. Ra vào không giao thiệp gọi là ngăn dừng. Tuy gọi ngăn dừng mà chẳng phải ngăn dừng. Nên biết tai, mũi, lưỡi, thân, ý cũng lại như thế. Đây gọi là giới Đại thừa, gọi là giới Vô thượng, cũng gọi là giới Vô đẳng đẳng. Tịnh giới này dù Tiểu tăng cho đến Đại tăng đều phải gìn giữ.

C- QUI CHẾ PHỤ:

Những qui chế phụ này giúp Thiền sinh dành trọn thời giờ trong việc tu hành và tránh khỏi những lỗi nhỏ hoặc vô tình hay cố ý.

Thiền sinh hạn chế tối thiểu sựđi lại, trừ trường hợp bệnh nặng phải đi trị bệnh, hoặc thầy Bổn sư bệnh nặng hay tịch, cha mẹ bệnh nặng hay chết và vài trường hợp đặc biệt khác.
Để giữ giới thứ chín, Thiền sinh được thân nhân hay thí chủủng hộ tiền bạc, hoặc đi đâu về tiền còn dư đều phải gửi Thủ bổn giữđể phòng khi bệnh hoạn.
Thân nhân đến thăm, Thiền sinh chỉ tiếp khách tối đa ba mươi phút tại nhà khách. Nếu thân nhân còn ở lại, đều do Tri khách sắp đặt mọi việc.
Nhận một trách nhiệm gì trong Viện, Thiền sinh phải tận tình làm cho được vuông tròn, không được làm cầm chừng lấy có.
Mọi thời khóa tu công cộng tại Thiền viện, Thiền sinh không được vắng mặt hoặc trễ nải, trừ có trách nhiệm đặc biệt hoặc bệnh.
Giờ Thỉnh nguyện, Thiền sinh không được đến trễ và xuống sớm trừ có công tác cho chúng.
Khi lao tác chung hoặc riêng, Thiền sinh sẵn sàng tương trợ nhau, khi thấy huynh đệ làm công việc nặng nhọc hơn, hoặc trễ nải hơn, không được vô tình làm ngơ để mặc.
Phải tiết kiệm tài sản của Thiền viện bằng mọi cách, không nên phung phí.
Không được đi đâu quá thời hạn đã xin phép. Nếu có việc bất ngờ xảy ra, phải gởi thơ hoặc điện thoại về xin phép thêm.
Thiền sinh nếu không muốn ở Thiền viện, xin phép ra đi tự do không cần điều kiện gì cả. Không được ởđây mà có tâm hướng ngoại. Nếu đi rồi thì không được trở lại.
D- KẾT THÚC:

Phần lục hòa và năm giới trước thuộc về chánh, Thiền sinh phạm một trong những giới chánh này tùy mức độ nặng nhẹ, nếu nặng thì tự xấu hổ xin rút lui khỏi Viện, nếu nhẹ tự xin sám hối với Ban lãnh đạo và toàn chúng. Năm giới sau và Qui chế phụ là phần phụ, Thiền sinh nếu phạm thì tự thấy lỗi xin sám hối, hoặc Ban chức sự hay huynh đệ thấy nhắc cũng sẵn sàng sám hối. Song một lỗi mà Thiền sinh phạm nhiều lần cũng tự xấu hổ xin rút lui khỏi Thiền viện.
</div>

<%= render(:partial => "footer") %>