<%= render(:partial => "header") %>
<%= render(:partial => "menubar") %>
<div class = "thuyetphap">
	<h2 align="center">Thuyết Pháp</h2>
	<br>
	<p> Xin vui lòng liên lạc Thiền Viện Vô Ưu để thỉnh những băng giảng, kinh sách và dụng cụ toạ thiền ở số (408) 683 4498 hoặc gởi email đến <b>vouuthienvien@yahoo.com</b></p>
	<br>
	<p>Ban biên tập tổ chức các bài thuyết pháp dưới dạng Track. Mỗi Track được định dạng theo chuẩn MP3.</p>
	<br>
	<p> Mỗi bài pháp, quý vị có thể <b>nghe trực tiếp</b> (chọn nút <b>Play</b>) hay (<b>Save</b>) theo các bước sau đây:</p>
	<p> - Đưa con trỏ đến nút track mình muốn.</p>
	<p> - Nhấp phải mouse, trong khung cửa sổ chọn Save Target As </p>
	<p> - Chọn đường dẫn để chứa file cần save.</p>
	<div class = "danhsachbaiphap">
		<p style = "bold"><font color="#f93f78"> Danh Sách Các Bài Pháp</font></p>
		<a href = "http://thientongvn.net/index.php", target = "_blank"><p>01) Những bài pháp của HT Thích Thanh Từ.</p></a>
		<p>02) Những bài pháp ngắn của NS Thích Nữ Đồng Kính.</p>
		<p>03) Những bài pháp về Kinh - Luận - Ngữ Lục của NS Thích Nữ Đồng Kính.</p>
		<p>04) Những bài pháp trong các khoá tu học củ NS Thích Nữ Đồng Kính. </p>
		<p>05) Phật pháp căn bản.</p>
		<p>06) Những bài pháp của chư Tôn Thiền Đức.</p>
		<p>07) Giới luật.</p>
		<p>08) Duy Thức Học. </p>
		<p>09) Sám Hối 6 Căn.</p>
	</div>
</div>

<%= render(:partial => "footer") %>
