<%= render(:partial => "header") %>
<%= render(:partial => "menubar") %>
<div class = "thuyetphap">
	<h2 align="center">Thuyết Pháp</h2>
	<p> Xin vui lòng liên lạc Thiền Viện Vô Ưu để thỉnh những băng giảng, kinh sách và dụng cụ toạ thiền ở số (408) 683 4498 hoặc gởi email đến vouuthienvien@yahoo.com</p>
	<br>
	<p>Ban biên tập tổ chức các bài thuyết pháp dưới dạng Track. Mỗi Track được định dạng theo chuẩn MP3.</p>
</div>
<%= render(:partial => "menubar") %>
<%= render(:partial => "footer") %>
